
@media (max-width: 980px){
  .carousel-control-next,
  .carousel-control-prev{
    display: none;
  }
}
@media (max-width: 768px){

  .categorias{
      display:block;
      width: 80%;
      margin: 30px 10%;
    }

  section{
    position:relative;
    height: 275px;
    margin-bottom: 20px;
  }

  .carousel-inner{
    background: #DF9303;
  }
  .reservar h2{
    font-size: 40px;
  }
}

@media (max-width: 480px){
  body{
    background-image: url("../imagenes/banner.jpg");
  }

  section{
    height: 200px;
    margin-top: 10px;
  }

  .banner img{
    display: none;
  }

  .reservar{
    display: none;
  }

  .titulo{
    display: block;
    font-family: 'Righteous', cursive, sans-serif;
  }

  .texto{
    display: block;
    position: static;
    width: 90%;
    margin: 30px 5%;
  }

  .boton{
    display: block;
    position: static;
    width: 90%;
    margin: 30px 5%;
  }


  .sticky-top{
    position: static;
  }

  .categorias{
      width: 90%;
      margin: 30px 5%;
    }
}
